
<body>
<!-- Primary Page Layout
================================================== -->
<br>

<!-- Pricing -->
<section class="pricing">

  <!-- Container -->
  <div class="container">

    <!-- Section Title -->
    <div class="sixteen columns section-title">
      <h1>Choose<span>your package</span></h1>
      <div class="title-bullet"><span></span></div>
    </div>

    <!-- Medium Price Table -->
    <div class="one-third column">
      <div class="price-table">
        <header class="price-table-header">
          <h3>Plan 1</h3>
          <span>23$</span>
        </header>
        <div class="price-table-body">
          <ul>
            <li><i class="fa fa-suitcase"></i>Lorem ipsum dolor</li>
            <li><i class="fa fa-folder-open"></i>Sit amet consescetur</li>
            <li><i class="fa fa-road"></i>Adipiscing elit etiam</li>
          </ul>
          <a href="#" class="button color">Purchase now</a>
        </div>
      </div>
    </div>

    <!-- Large Price Table -->
    <div class="one-third column">
      <div class="price-table large">
        <header class="price-table-header">
          <h3>Plan 2</h3>
          <span>26$</span>
        </header>
        <div class="price-table-body">
          <ul>
            <li><i class="fa fa-suitcase"></i>Lorem ipsum dolor</li>
            <li><i class="fa fa-folder-open"></i>Sit amet consescetur</li>
            <li><i class="fa fa-road"></i>Adipiscing elit etiam</li>
          </ul>
          <a href="#" class="button color">Purchase now</a>
        </div>
      </div>
    </div>

    <!-- Medium Price Table -->
    <div class="one-third column">
      <div class="price-table">
        <header class="price-table-header">
          <h3>Plan 3</h3>
          <span>29$</span>
        </header>
        <div class="price-table-body">
          <ul>
            <li><i class="fa fa-suitcase"></i>Lorem ipsum dolor</li>
            <li><i class="fa fa-folder-open"></i>Sit amet consescetur</li>
            <li><i class="fa fa-road"></i>Adipiscing elit etiam</li>
          </ul>
          <a href="#" class="button color">Purchase now</a>
        </div>
      </div>
    </div>

  </div><!-- / Container -->

</section><!-- / Pricing -->



<script type="text/javascript">
    $('.tweet').twittie();
</script>

<!--[if lt IE 10]>
<script type="text/javascript">
    $(document).ready(function(){

        $(".lightbox-close").click(function(){
            $(".lightbox, .lightbox-overlay").hide();
        });

        $(".feature-selector-buttons li").click(function(){
            $('.feature-selector-frame img').hide();
        });

    });
</script>
<![endif]-->





<script type="text/javascript">
    $(document).ready(function(){

        $("#styleswitcher li").click(function(){
            var colorFile = $(this).data("color");
            $("link").last().attr("href","main/colors/"+colorFile+".css");
            $("#styleswitcher li").empty();
            $(this).html('<i class="fa fa-check"></i>');
        });


        $(function () {
            function first() {
                $("#styleswitcher").animate({left: "+=250px"}, 500);
                $(this).one("click", second);
            }
            function second() {
                $("#styleswitcher").animate({left: "-=250px"}, 500);
                $(this).one("click", first);
            }
            $("#styleswitcher .trigger").one("click", first);
        });

    });
</script>
<!--  STYLESWITCHER ================================================== -->








<!-- End Document
================================================== -->
</body>