<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Inputs</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
	<link rel="shortcut icon" href="favicon.png">
	<!---CSS Files-->
	<link rel="stylesheet" href="css/core.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/ui.css">
    <link rel="stylesheet" href="css/inputs.css">
    <link rel="stylesheet" href="css/icons.css">
    <link rel="stylesheet" href="css/anims.css">
	<link rel="stylesheet" href="css/global.css">
	<!---jQuery Files-->
	<script src="js/jquery.js"></script>
	<script src="js/jquery-ui.js"></script>
	<script src="js/functions.js"></script>
	<script src="js/inputs.js"></script>
    <script src="res/tinymce/tinymce.js"></script>
</head>

<body>

	<div id="wrapper">

        <div id="sidebar">
            <div id="avatar"><img src="img/avatars/alex.jpg" alt="User avatar"><div id="av-overlay"></div></div>

            <div id="user-notif">
	            <div id="user-alert" class="icon-subtractshape mod-tg" data-modal="#notif-mod"></div>
                <div id="coll-sidebar"></div>
            </div>
            
            <ul id="nav">
                <li><a href="dash.html"><span class="nav-icon icon-home"></span>Dash</a></li>
                <li class="active"><span class="nav-icon icon-dotlist"></span>Inputs</li>
                <li>
                    <a href="extras.html"><span class="nav-icon icon-addtolist"></span>Extras</a>
                    <ul class="sub-nav">
                        <li><span class="icon icon-lock"></span><a href="403.html">403 Page</a></li>
                        <li><span class="icon icon-question-sign"></span><a href="404.html">404 Page</a></li>
                        <li><span class="icon icon-remove"></span><a href="503.html">503 Page</a></li>
                    </ul>
                </li>
                <li id="logout"><a href="index.html.erb"></a><span class="nav-icon icon-shutdown"></span>Log out</li>
            </ul>
        </div>

        <div id="content" class="inp-page">

            <div id="inp-form-box" class="box g16 inp-row1">
                <div class="header">Sample form <span class="box-desc">with validation</span></div>
                <div class="content gcont no-pad-btm">
                    <form id="sample-form">
                        <div class="g3 inp-cont no-pad">
                            <select class="required inset">
                                <option selected disabled>Prefix</option>
                                <option>Mr.</option>
                                <option>Mrs.</option>
                            </select>
                        </div>
                        <input type="text" class="required g5" placeholder="First Name">
                        <input type="text" class="required g5" placeholder="Last Name">
                        <div class="g3">
                            <input id="age-inp" class="spinner required number inset" placeholder="Age">
                        </div>

                        <input type="text" class="required email g6" placeholder="E-mail">
                        <input type="password" class="required match g5" data-match="password" placeholder="Password">
                        <input type="password" class="required match g5" data-match="password" placeholder="Password again">

                        <input type="text" class="ver-code g4" value="EDB48BO0" disabled>
                        <input type="text" class="required g4" data-min="8" placeholder="Verification">
                        <br class="clear">

                        <div class="g4 inp-cont no-pad">
                            <div class="drop drop-u select g4">
                                <span class="opt-sel">Card Type</span>
                                <ul>
                                  <li>Visa</li>
                                  <li>Mastercard</li>
                                  <li>Amex</li>
                                </ul>
                                <span class="arrow">'</span>
                            </div>
                        </div>
                        <input type="text" id="card-num" class="cardnum g7" placeholder="Card Number">
                        <input type="text" class="g2" placeholder="CVV">
                        <input type="text" id="exp-inp" class="g3" placeholder="Expiry Date">

                        <div class="cont g13">
                            <input type="checkbox" class="checkbox required big flt-l ig3">
                            <label class="lh-xxl g13">By checking this box, I am signing a blank check.</label>
                        </div>
                        <button type="submit" class="green flt-r g3">Submit</button>
                    </form>
                </div>
            </div>
        </div>

        <!--MODAL WINDOWS-->

        <div class="modal-ov">
            <div id="notif-mod" class="modal mini box modslideright">
                <div class="header">
                    <span class="icon icon-subtractshape"></span>Notifications &amp; Alerts
                    <button class="mini close"><span class="icon icon-remove no-mg"></span></button>
                </div>
                <div class="mod-body">
                    <p class="al-c">No notifications or alerts to display</p>
                </div>
            </div>
        </div>

	</div><!--END WRAPPER-->

	<div id="load"><div id="spinner"></div></div>

	<!---jQuery Code-->
	<script type='text/javascript'>

	$.fn.loadfns( function() { // PUT FUNCTIONS TO BE EXECUTED ON DOCUMENT READY HERE
	});
    
    $('#age-inp').spinner({ min: 16, max: 99 });
    $('#sample-form').validate();

    $('#wiz-inst').click( function() {
        var par = $(this).parents('#overview');
            pbar = par.find('#wiz-prog-ind');
            pbarInd = pbar.siblings('span');
            modMsg = par.find('#wiz-prog-msg');
        setTimeout( function() { pbar.css('width','10%'); pbarInd.text('10%') }, 400);
        setTimeout( function() { pbar.css('width','33%'); pbarInd.text('33%') }, 2000);
        setTimeout( function() { pbar.css('width','60%'); pbarInd.text('60%') }, 4000);
        setTimeout( function() { pbar.css('width','82%'); pbarInd.text('82%') }, 7000);
        setTimeout( function() { pbar.css('width','100%'); pbarInd.text('100%');
            modMsg.html('<span class="icon icon-ok txt-green"></span>All done! Installation completed successfully.') }, 12000);
    });

    $('#decimal').spinner({ step: 0.1101001101010011, numberFormat: "n" });
    $('#datepicker').datepicker();
    tinymce.init({
        selector: "#wysiwyg",
        plugins: [
            "autolink lists link image charmap print preview anchor",
            "searchreplace code",
            "insertdatetime media table contextmenu paste"
        ],
        toolbar: "undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist | link image"
    });

    </script>
</body>
</html>
