

  <div id="content" class="dash-page">

    <br>
    <br>
    <br>
    <br>
    <br>

    <div id="table-box" class="box g16 ov-no">
      <table id="table" class="tablesorter">
        <thead class="header">
        <tr><th>Lead's Title</th><th>Description</th><th>Lead Type</th><th>Created At</th></tr>
        </thead>
        <tbody>
        <%- @leads.each do |lead| %>
            <tr>
              <td><%= lead.title %></td>
              <td><%= lead.desc %></td>
              <td><%= lead.lead_type %></td>
              <td><%= lead.created_at %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>

  </div>

<div id="gages" class="hidden">
  <div id="cpu" class="gage"></div>
  <div id="ram" class="gage"></div>
  <div id="mem" class="gage"></div>
</div>

