<!-- Footer -->
<footer class="footer" id="footer">

  <!-- Container -->
  <div class="container">

    <h6 class="copyright-text">ActiveLead 2016 | All rights reserved.</h6>

  </div><!-- / Container -->

</footer><!-- / Footer -->